# Introduction

Queries with **GROUP BY** can be powerful. There are many small things that can trip you up (like the order of the clauses), but it will start to feel natural once you've done it a few times. Here, you'll write queries using **GROUP BY** to answer questions from the Hacker News dataset.

Before you get started, run the following cell to set everything up:

In [6]:
# Set up feedback system
from learntools.core import binder
binder.bind(globals())
from learntools.sql.ex3 import *
print("Setup Complete")

Setup Complete

The code cell below fetches the `full` table from the `hacker_news` dataset.  We also preview the first five rows of the table.

In [7]:
from google.cloud import bigquery

# Create a "Client" object
client = bigquery.Client()

# Construct a reference to the "hacker_news" dataset
dataset_ref = client.dataset("hacker_news", project="bigquery-public-data")

# API request - fetch the dataset
dataset = client.get_dataset(dataset_ref)

# Construct a reference to the "full" table
table_ref = dataset_ref.table("full")

# API request - fetch the table
table = client.get_table(table_ref)

# Preview the first five lines of the table
client.list_rows(table, max_results=5).to_dataframe()

Using Kaggle's public dataset BigQuery integration.

,title,url,text,dead,by,score,time,timestamp,type,id,parent,descendants,ranking,deleted
0,None,None,None,<NA>,None,<NA>,1437406245,2015-07-20 15:30:45+00:00,story,9916670,<NA>,<NA>,<NA>,<NA>
1,None,None,None,<NA>,None,<NA>,1437406317,2015-07-20 15:31:57+00:00,story,9916674,<NA>,<NA>,<NA>,<NA>
2,None,None,None,True,None,<NA>,1437406339,2015-07-20 15:32:19+00:00,story,9916676,<NA>,<NA>,<NA>,<NA>
3,None,None,None,<NA>,None,<NA>,1437409163,2015-07-20 16:19:23+00:00,story,9917068,<NA>,<NA>,<NA>,<NA>
4,None,None,None,<NA>,None,<NA>,1437410842,2015-07-20 16:47:22+00:00,story,9917248,<NA>,<NA>,<NA>,<NA>

# Exercises

### 1) Prolific commenters

Hacker News would like to send awards to everyone who has written more than 10,000 posts. Write a query that returns all authors with more than 10,000 posts as well as their post counts. Call the column with post counts `NumPosts`.

In case sample query is helpful, here is a query you saw in the tutorial to answer a similar question:
```
query = """
        SELECT parent, COUNT(1) AS NumPosts
        FROM `bigquery-public-data.hacker_news.full`
        GROUP BY parent
        HAVING COUNT(1) > 10
        """
```

In [24]:
t = client.get_table('bigquery-public-data.hacker_news.full')
for i in t.schema: 
    print(f"  {i.name} ({i.field_type})")

  title (STRING)
  url (STRING)
  text (STRING)
  dead (BOOLEAN)
  by (STRING)
  score (INTEGER)
  time (INTEGER)
  timestamp (TIMESTAMP)
  type (STRING)
  id (INTEGER)
  parent (INTEGER)
  descendants (INTEGER)
  ranking (INTEGER)
  deleted (BOOLEAN)

In [71]:
query = """
        SELECT count(`deleted`)
        FROM `bigquery-public-data.hacker_news.full`
        where  `deleted`=True
        """
# query = """
#         SELECT distinct `by` AS author
#         FROM `bigquery-public-data.hacker_news.full` limit 10
#         """
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed=10**10)
query_job = client.query(query, job_config=safe_config)

df = query_job.to_dataframe()

/usr/local/lib/python3.11/dist-packages/google/cloud/bigquery/table.py:1727: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

In [35]:
# Query to select prolific commenters and post counts
prolific_commenters_query = query # Your code goes here

# Set up the query (cancel the query if it would use too much of 
# your quota, with the limit set to 1 GB)
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed=10**10)
query_job = client.query(prolific_commenters_query, job_config=safe_config)

# API request - run the query, and return a pandas DataFrame
prolific_commenters = query_job.to_dataframe()

# View top few rows of results
print(prolific_commenters.head())

# Check your answer
q_1.check()

        author  NumPosts
0       nailer     11735
1     tracker1     11646
2  maxerickson     18965
3    Jtsummers     10327
4        oblio     11621

/usr/local/lib/python3.11/dist-packages/google/cloud/bigquery/table.py:1727: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

Correct

### 2) Deleted comments

How many comments have been deleted? (If a comment was deleted, the `deleted` column in the table will have the value `True`.)

In [ ]:
# Write your query here and figure out the answer

In [76]:
num_deleted_posts = df.values[0][0] # Put your answer here

# Check your answer
q_2.check()

Correct

# Keep Going
**[Click here](https://www.kaggle.com/dansbecker/order-by)** to move on and learn about the **ORDER BY** clause.

---




*Have questions or comments? Visit the [course discussion forum](https://www.kaggle.com/learn/intro-to-sql/discussion) to chat with other learners.*